header {
  nav {
    .main-navigation {
      > li {
        a {
          &.active {
            @apply bg-primary-500 text-white md:bg-white md:text-gray-900;
          }
        }
      }
    }
  }
}
.language-active,
.langauge-switch {
  img {
    height: 1.25rem;
    width: 1.25rem;
    clip-path: circle(40%);
  }
}
