.shop-page {
  .list-group-item {
    border: none;
    background-color: transparent;

    .level-root-header {
      background-color: #172554;
      text-align: center;
      padding-block: 10px;
      font-size: 20px;

      a {
        color: #fff;

        &:hover {
          color: rgba(255, 255, 255, 0.9);
        }
      }
    }

    &.active-category {
      & > a {
        font-weight: bold;
      }
    }
  }

  .nested {
    display: none;
  }

  .caret-icon {
    cursor: pointer;
    user-select: none;
    display: inline-block;
    margin-inline-end: 2px;
  }

  .caret {
    content: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNiIgaGVpZ2h0PSIxNiIgZmlsbD0iY3VycmVudENvbG9yIiBjbGFzcz0iYmkgYmktY2hldnJvbi1yaWdodCIgdmlld0JveD0iMCAwIDE2IDE2Ij4KICA8cGF0aCBmaWxsLXJ1bGU9ImV2ZW5vZGQiIGQ9Ik00LjY0NiAxLjY0NmEuNS41IDAgMCAxIC43MDggMGw2IDZhLjUuNSAwIDAgMSAwIC43MDhsLTYgNmEuNS41IDAgMCAxLS43MDgtLjcwOEwxMC4yOTMgOCA0LjY0NiAyLjM1NGEuNS41IDAgMCAxIDAtLjcwOCI+PC9wYXRoPgo8L3N2Zz4=");
    transform: rotate(0deg);
    transition: transform 0.3s;
    position: relative;
    inset-block-start: 2px;
  }

  .caret-down {
    transform: rotate(90deg);
  }
}
