.btn {
  @apply inline-block !px-4 !py-2.5 !font-bold;

  &.btn-primary {
    @apply bg-primary-500 text-white hover:bg-primary-500/80 border-none;
  }
  &.btn-secondary {
    @apply bg-secondary-500 text-primary-800 font-bold text-center items-center hover:bg-secondary-500/80 border-none;
  }
}

h1 {
  @apply text-4xl font-extrabold mb-4 tracking-tight leading-none md:text-5xl lg:text-6xl;
}
h2 {
  @apply text-3xl font-bold mb-4 tracking-tight leading-none md:text-4xl lg:text-5xl;
}
h3 {
  @apply text-2xl font-bold mb-3 tracking-tight leading-none md:text-3xl lg:text-4xl;
}

.frame-container {
  @apply px-0;

  &.frame-container-default {
    @media screen and (min-inline-size: 1400px) {
      max-inline-size: 1536px;
      padding-inline: 1.5rem;
    }
  }
}

.frame-type-list {
  .frame-container {
    padding-inline: 1.5rem;
  }
}
